
@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    @{ var infor = ViewBag.MaHD;}
    <div class="container-fluid px-4">
        @{string dtnow = infor.createdAt.ToString("yyyyMMdd"); }
        <h2 class="mt-4">Hóa đơn : <strong>HD_@dtnow _@infor.idTranSaction</strong></h2>


        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    if (ViewBag.Msg == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Danh mục đã tồn tại</strong>
                        </div>
                    }

                }

            </div>
            <div class="card-body">
                @if (ViewBag.listOrder.Count == 0)
                {
                    <h3>Không có sản phẩm nào</h3>
                }
                else
                {
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Tên Hoc Hàm</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                var index = 0;
                            }
                            @foreach (var item in ViewBag.listOrder)
                            {
                                index++;

                                <tr>
                                    <td>@index</td>
                                    <td>@item.Product.name</td>
                                    <td>
                                        <img height="120" width="150" src="~/Content/images/@item.Product.image" />

                                    </td>
                                    <td>@item.number</td>
                                    <td>@{var total = (item.number * item.Product.cost);}
                                    @total
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                }

            </div>

        </div>
    </div>
</main>
